@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth !important;
  }

body {
    font-family: "Montserrat", sans-serif;
}

body,html{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

/*notification*/

.notification-visible {
    animation: slideDown 0.5s forwards;
}

.notification-hidden {
    animation: slideUp 0.5s forwards;
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}



@media (max-width: 600px) {
    #introduce-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 0;
    }

    #appoinment, .col-md-6.pl-md-5.pt-md-5 {
        width: 100%;
        margin-top: 1rem;
    }

    #appoinment {
        padding: 1rem;
    }

    .hero-wrap.hero-wrap-2 {
        height: auto;
    }

    .hero-wrap .overlay {
        position: absolute;
        height: auto; 
        min-height: 100vh; 
    }

    .container #introduce-container {
        min-height: auto;
    }

    .bg-primary {
        border-radius: 1rem;
    }

    #introduce {
        height: auto;
    
    }

}

.wrap {
    background-color: #f56ac4;
    padding: 0;
    border-color: #f56ac4  !important;
}

.wrap .phone {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
}

.wrap #nextdoor{
    margin-left: 20%;
}

.wrap .phone a {
    color: white;
    font-size: 12px;
}

.wrap .phone .fa {
    color: rgba(255, 255, 255, 0.8);
}

.wrap .phone .mailus {
    color: rgba(255, 255, 255, 0.6);
}

.social-media {
    display: inline-block;
}

a:visited, a:focus {
    outline: none; /* Elimina el contorno que aparece al hacer clic */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
}

.social-media a {
    color: inherit; /* Esto mantendrá el color del ícono igual que tu texto, o puedes definir un color específico */
}

.social-media a:visited {
    text-decoration: none; /* Elimina el subrayado de los enlaces visitados */
}

.social-media a:focus {
    outline: none; /* Elimina el contorno para un enfoque accesible */
}

.social-media p a {
    width: 28px;
    height: 28px;
    margin-right: 7px;
    border-radius: 50%;
}

.social-media p a span {
    color: #fff;
}

.social-media p a:hover span {
    color: #fff;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

#navbar-logo {
    width: 100%; /* Adjust this percentage based on your design */
    max-width: 40px; /* Maximum size for the logo */
    height: auto; /* Maintain aspect ratio */
}
@media (max-width: 768px) {
    #navbar-logo {
        width: 10vw; /* Responsive width */
        
    }
}

@media (max-width: 768px) {
    .navbar-collapse {
        background-color: rgba(252, 149, 216, 0.9); /* Adjust for desired transparency and pink color */
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        z-index: 999; /* Make sure it's on top of other content */
        border: none; /* Optional: remove if you don't want any border */
        overflow-y: auto; /* Allows scrolling if the menu is taller than the screen */
        padding: 1rem; /* Add padding inside the menu */
        width: 100%;
        border-top: none;
        border-radius: 20px;
    }

    .navbar-nav .nav-item {
        display: block; /* Stack the links vertically */
        text-align: center; /* Center the links */
        margin: 0.5rem 0; /* Add some margin to the top and bottom of each link */
    }

    .navbar-nav .nav-link {
        color: #fff; /* Ensure text color is white for contrast */
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Adds shadow for text readability */
    }

    .navbar-nav .nav-item {
        margin: 1rem 0; /* Increased space between items */
    }

}

.navbar-toggler {
    z-index: 1001; /* Above the navbar-collapse */
}

.navbar-collapse {
    z-index: 1000; /* High enough to be on top of other content */
}

@media (max-width: 768px) {
    .navbar-nav .nav-item {
        display: block; /* Stack the links vertically */
        text-align: center; /* Center the links */
        margin: 0.5rem 0; /* Add some margin to the top and bottom of each link */
    }

    .navbar-nav .nav-link {
        color: #333; /* Color for the links */
    }
}

.hamburger {
    display: none; /* Hidden on desktop */
}

@media (max-width: 768px) {
    .hamburger {
        display: block; /* Show on mobile */
        cursor: pointer;
    }

    .nav-menu {
        display: none; /* Hide the full menu on mobile until toggled */
    }
}

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease;
}

.nav-link::after {
    transform: scale(0);
    transition: transform 0.5s ease;
    z-index: -1;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.navbar-nav .nav-link:hover {
    background-color: #fc93d7; 
    color: #fff; /* Texto blanco */
}

.navbar {
    transition: transform 0.5s ease-in-out;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
  }
  
  .navbar.hide {
    transform: translateY(-900%);
  }



.hero-wrap::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(34, 34, 34, 0);
    /* Controla la opacidad aquí */
    z-index: -1;
}


.hero-wrap {
    width: 100%;
    height: 100%;
    position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    height: 100vh;
}

@media (max-width: 1199.98px) {
    hero-wrap {
        background-position: center center !important;
    }
}

.hero-wrap .overlay {
    z-index: 10;  
}

.container{
    position: relative;
    z-index: 20;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#portafolio .container{
    max-width: 100%;
}

.mb-4,.subheading{
    color:white;
}

.hero-wrap.hero-wrap-2 .overlay {
    opacity: .3;
}

.hero-wrap.hero-wrap-2 .slider-text {
    height: 500px;
}

nav {
    margin-bottom: 20px;
}

.navbar {
    margin-bottom: 0%;
    border-radius: 15px;
    width: auto;
    padding: 0%;
    position: fixed;
    top: 50px;
    /* Espacio desde la parte superior */
    left: 50%;
    /* Centra el navbar horizontalmente */
    transform: translateX(-50%);
    /* Ajuste fino para centrar exactamente */
    width: 80%;
    height: 7%;
    /* Ancho del navbar, ajustable según necesidad */
    z-index: 100;
    /* Asegura que el navbar esté sobre otros elementos */
    background-color: rgba(255, 111, 192, 0.9);
    /* Opcional: fondo semi-transparente */
}

.navbar-brand {
    padding-left: 5%;
}

.custom-navbar-bg, .btn-primary {
    background-color: #f56ac4;
    transition: background-color 0.5s ease; /* Cambia el color del fondo en un intervalo de 0.5 segundos */
}

.btn{
    background-color: #f757bf;
    border-color: #fc93d7;
    color: black;
}

.btn:hover{
    transition: background-color 0.5s ease; /* Cambia el color del fondo en un intervalo de 0.5 segundos */;
    background-color: #ff86d5;
    color: white;
}

#video1{
    position: absolute; 
    width: 100%; 
    left: 50%; 
    top: 50%;
    height: 100%; 
    object-fit: cover; 
    transform: translate(-50%, -50%);
}

.video-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1; /* Por debajo del overlay y del texto. */
}

.video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0; /* Mismo z-index que su contenedor para evitar conflictos. */
}

.btn-primary:hover {
    background-color: #fc93d7;
    border-color: #f56ac4;
}

.btn-primary{
    border-color: #f56ac4;
}

.btn{
    border-radius: 40px;
}

.nav-item {
    padding-right: 20px;

}

.nav-link {
    background-color: rgb(255, 255, 255, 0.4);
    color: rgb(0, 0, 0);
    width: 60;
    border-radius: 20px;
}

#introduce{
    min-height: 105vh !important;
    position: relative;
}

/* Esto es para asegurarse de que el contenedor del texto utilice Flexbox para centrarse */
.slider-text {
    display: flex;
    align-items: center; /* Esto centra verticalmente el texto en el contenedor */
    justify-content: flex-start; /* Esto alinea el texto a la izquierda del contenedor */
    height: 100vh; /* Esto asegura que .slider-text tenga la altura completa de la ventana gráfica */
    width: 100%; /* Asegúrate de que .slider-text ocupe el ancho total del .hero-wrap */
    position: absolute; /* Posicionamiento absoluto dentro de hero-wrap */
    top: 0; /* Alinea en la parte superior del .hero-wrap */
    left: 0; /* Alinea en el lado izquierdo del .hero-wrap */
    padding-left: 15px; /* Agrega algo de espacio al lado izquierdo */
    z-index: 10; /* Asegúrate de que esté sobre el video */
}

/* Esto es para asegurarse de que el texto no se estire más allá de lo que queremos y permanezca dentro de su columna */
.col-md-6.ftco-animate {
    margin-top: 0; /* Reset esto para evitar cualquier desplazamiento hacia abajo adicional */
    transform: none; /* Elimina cualquier transformación anterior que pudiera afectar la posición */
    /* Si necesitas más espacio a la izquierda, ajusta padding-left como se muestra a continuación */
    padding-left: 15px; /* Esto añadirá espacio desde el borde izquierdo del contenedor */
}

.bg-primary {
    background-color: #ff91d8!important; /* Cambia #nuevoColorDeFondo por el color deseado */
}

.bg-primary h3{
    font-weight:800; /* Cambia #nuevoColorDeFondo por el color deseado */
}

form label{
    color:white;
}

.request{ 
    font-weight: 400 !important; 
    font-size: 30px;
}

#introduce {
    background-color: #ff91d8;
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100% !important;
}

#introduce-p{
    color: white !important;
}

.container #instroduce-container{
    min-height: 100vh;
}

/*Portafolio*/

#portafolio {
    background-color: #ff91d8 !important;
    background-blend-mode: multiply !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    position: relative;
    z-index: 9;  /* Lower index if it should be below the previous section */
}

@media (max-width: 768px) {
    #introduce, #portfolio {
        min-height: auto;
        padding: 20px 0;
       
    }
}

#introduce .container{
    padding-top: 10%;
    
}

.text-primary {
    color: #000000 !important;
}

.services-title{
    padding-top: 3%;
}

.cards {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}

.card img {
    width: 100%; /* Ensure images fill the card */
    height: auto; /* Maintain aspect ratio */
}

.card-body {
    padding: 15px; /* Padding inside the card */
}

@media (max-width: 576px) {
    .cards {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.card-style1 {
    position: relative;
    display: block;
    transition: all 300ms ease;
    transform: perspective(1200px) rotateX(0deg) translateY(0px);
    border: 1px solid rgba(0,0,0,0.09);
    padding: 8px 8px 0 8px;
    height: 100%;
}

.card-style1 .card-img {
    position: relative;
    display: block;
    background: #ffffff;
    overflow: hidden;
    border-radius: 0.25rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.card-img img {
    max-width: 100%; /* ensures image is responsive and doesn't overflow the card */
    height: auto; /* maintains aspect ratio */
    max-height: 10%; /* adjust this value to suit your design */
    transition: transform 0.5s ease; /* Smooth transition for the transform property */
    display: block; /* To avoid unwanted space under the image */
    width: 100%; /* Responsive image */
}

.card-img {
    overflow: hidden; /* Ensure the image doesn't overflow the container */
  }
  
  .card-img:hover img {
    transform: scale(1.1); /* Increase the scale of the image when hovered */
  }

.card-style1 .card-body {
    padding: 2rem 1rem;
}

.card-style1 .card-body h3 {
    margin-bottom: 0.8rem;
}

.card-style1 .card-body h3 a {
    color: #004975;
}

.read-more {
    color: #004975;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
}

.mb-1-9, .my-1-9 {
    margin-bottom: 1.9rem;
}

.cards {
    width: 28%;
}

/*Why*/

.why{
    background-color: #ff91d8 ;
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 3%;
    padding-bottom: 3%;
}


/*Footer*/

.footer-social-icon {
    margin-bottom: 0;
}

.footer-social-icon li {
    text-align: center;
    margin-right: 5px;
    display: inline-block;
}

.footer-social-icon li a {
    color: #ffffff;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    line-height: 35px;
    display: inline-block;
    font-size: 14px;
    border: 1px solid #ffffff;
}

.footer-list {
    margin: 0;
    padding-left: 0; /* Elimina el relleno predeterminado de la lista */
    list-style-type: none; /* Elimina los bullets de la lista */
}

.footer-list li:first-child {
    padding-top: 0;
}


.footer-list li {
    list-style-type: none;
    color: #fff;
    padding: 5px 0;
    font-size: 16px;
}

.footer-list li a:before {
    color: white !important;

}

.footer-list a {
    color: white;          /* Esto hace el texto blanco */
    text-decoration: none; /* Esto elimina el subrayado */
    font-weight: 500;
}

.footer-list a:hover {
    text-decoration: none; /* Esto asegura que no haya subrayado incluso al pasar el mouse por encima */
    color: #f56ac4;
}


.footer-list {
    font-weight: 700;
    color: white;
    transition-duration: .3s;
    vertical-align: top;
    font-size: 16px;
    padding-right: 20%;
}

.box{
 background-color: #f56ac4;
 border-radius: 10px;
 display: flex;
 justify-content: flex-start; /* Alinea los elementos al inicio del contenedor */
 padding: 10px; /* Añade un poco de padding si es necesario */
}

.icon i{
    font-size: 130%;
    
}

.estimate {
    display: inline-block; /* Hace que el enlace sea en bloque para alinear el ícono y el texto */
    text-decoration: none; /* Elimina el subrayado del texto */
    font-size: 110%; /* Aumenta el tamaño del texto si es necesario */
    display: flex; /* Utiliza flexbox para un mejor control del alineamiento */
    align-items: center; /* Alinea el ícono y el texto verticalmente */
    text-decoration: none; /* Elimina el subrayado del texto */
    font-size: 1em; /* Ajusta el tamaño del texto */
    white-space: nowrap; /* Evita que el texto se pase a la siguiente línea */
}

.estimate .icon {
    display: inline; /* Coloca el ícono en la misma línea que el texto */
    font-size: 2em; /* Ajusta el tamaño del ícono */
    vertical-align: middle; /* Alinea verticalmente el ícono con el texto */
}

.estimate .icon i {
    margin-right: 0.5em; /* Añade espacio entre el ícono y el texto */
}

.box:hover {
    background-color: #fc93d7; /* Cambia esto por el color de fondo deseado */
}


.ourfooter, .contact, .estimate{
    color: white !important;
    font-weight: 600;
    text-decoration: none;
}

.fa-arrow-right{
    padding-right: 3%;
}

.footer-contact-info {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255,255,255,0.25);
    padding-bottom: 3rem;
    margin-bottom: 3rem;
}

.footer-contact-info .content {
    flex-basis: 40%;
}

.footer-contact-info .box {
    padding: 15px;
}

.footer-bottom {
    border-top: 1px solid rgba(255,255,255,0.15);
    text-align: center;
    position: relative;
    z-index: 9;
}

.footer{
    background-color: #ff91d8;
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 3%;
    padding-bottom: 3%;
}

.footer-contact-info .box h2 {
    font-size: 20px;
}



#logo{
    height: auto;
    width: 30%;
    padding-bottom: 5%;

}

#nextdoor{
    height: auto;
    width: 60%;
    padding-bottom: 5%;
}

.footer-social-icon li :hover{
    background-color: #f56ac4;
}

.footer-list a, 
.footer-social-icon a, 
.estimate, .box{
    transition: background-color 0.5s ease; /* Cambia el color del fondo en un intervalo de 0.5 segundos */
}
